body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgb(124, 51, 228) 0%, rgba(199, 72, 144, 1) 100%);
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 10px;
  color: white;
}

h3, p {
  margin-bottom: 0;
  margin-top: 2px;
}

h1.middle, h2.middle {
  text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

ul:hover {
  background-color: #222; 
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111;
}

.main {
  margin-top: 60px; 
  padding: 20px;
}

main {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: auto;
  max-width: 700px;
  padding: 20px;
}

div.ex1 {
  max-width: 600px;
  margin: auto;
}

a {
  color: rgb(46, 253, 243);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 195, 255);
}
